.sidebar {
  border: 1px solid white;
  box-sizing: border-box;
  height: calc(100vh - 15vh);
  position: relative;
  min-width: 100px;
}

.control {
  position: absolute;
  top: 45%;
  right: -20px;
  height: 40px;
  border-radius: 100%;
  width: 40px;
  background-color: azure;
  animation: glow 1s infinite alternate;
}

.control:hover {
  animation: none;
  cursor: pointer;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px -10px #c6c6c6;
  }
  to {
    box-shadow: 0 0 5px 10px #c6c6c6;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.linkWrapper a {
  margin: 20px;
  text-transform: capitalize;
}
